{block title}Create new post{/block}
{block content}

<section id="create-post">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h1 class="section-title">Nový príspevok</h1>
            </div>
            
            <div class="col-12">
                <div class="section-content">
                    {control postForm}
                </div>
            </div>

        </div>
    </div>
</section>