{block title}Edit post{/block}
{block content}
<section id="edit-post">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <h1 class="section-title">Upraviť príspevok</h1>
            </div>
            <div class="col-12">
                <div class="section-content">
                    {control postForm}
                </div>
            </div>
        </div>
    </div>
</section>
