{block content}
<section id="registration">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h1 class="section-title">Registrácia</h1>

                {control signUpForm}
            </div>
        </div>
    </div>
</section>